<html lang="en" xmlns:th="www.thymeleaf.org">

<body>
    <footer>
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer-box about-widget">
                            <h2 id="About" class="widget-title">About us</h2>
                            <p>Welcome to our Post WebApp! Our application is designed to provide a seamless and
                                efficient platform for creating, reading, updating, and deleting posts. Built with the
                                robust Spring Boot framework and the versatile Thymeleaf template engine, our web app
                                delivers a dynamic and responsive user experience.</p>
                            <p>At the heart of our development philosophy is a commitment to simplicity, performance,
                                and user satisfaction. Leveraging the power of Spring Boot, we ensure that our backend
                                is not only fast and scalable but also secure and reliable. Thymeleaf, on the other
                                hand, allows us to create elegant and user-friendly interfaces that enhance your
                                interaction with the application.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer-box get-in-touch">
                            <h2 class="widget-title">Get in Touch</h2>
                            <ul>
                                <li>Address: Pune</li>
                                <li>Email: annurasal123@gmail.com</li>
                                <li>Phone: +91 74999 87944</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <p>Copyrights &copy; 2019 - <a href="https://github.com/anilrasal/">Anil Rasal</a>, All Rights
                            Reserved.<br>
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- end copyright -->

        <!-- jquery -->
        <script src="assets/js/jquery-1.11.3.min.js"></script>
        <!-- bootstrap -->
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <!-- count down -->
        <script src="assets/js/jquery.countdown.js"></script>
        <!-- isotope -->
        <script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
        <!-- waypoints -->
        <script src="assets/js/waypoints.js"></script>
        <!-- owl carousel -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- magnific popup -->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- mean menu -->
        <script src="assets/js/jquery.meanmenu.min.js"></script>
        <!-- sticker js -->
        <script src="assets/js/sticker.js"></script>
        <!-- main js -->
        <script src="assets/js/main.js"></script>
        <!-- Text Editor-->
        <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>
        <script>
            ClassicEditor
                .create(document.querySelector('#editor'))
        </script>

    </footer>
</body>

</html>