<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<header th:replace="/fragments/header::header"> </header>
	<!-- end header -->


	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p></p>
						<h1>Change password</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
							<div class="card single-accordion">
								<div class="card-header" id="headingOne">
								</div>
								<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
									data-parent="#accordionExample">
									<div class="card-body">
										<div class="billing-address-form">
											<form action="#" th:action="@{/change-password}" th:object="${account}"
												method="post">
												<input type="hidden" name="id" id="id" th:field="*{id}">
												<p><input id="password" type="password" th:field="*{password}"
														placeholder="Password" name="password" required></p>
												<p><input id="password_confirm" type="password"
														placeholder="Confirm Password" name="password_confirm" required
														oninput="check(this)"></p>
												<script language="javascript" type="text/javascript">
													function check(input) {
														if (input.value != document.getElementById('password').value) {
															input.setCustomValidity('Password must be matching');
														} else {
															input.setCustomValidity('');
														}
													}
												</script>
												<input style="color:white;" type="submit" class="boxed-btn"
													value="Update password">
											</form>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>


			</div>
		</div>
	</div>
	<!-- end check out section -->

	<footer th:replace="/fragments/footer :: footer"></footer>
	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>

</body>

</html>